[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
ipython = "*"

[packages]
flask = "*"
celery = "*"
redis = "*"
flask-cors = "*"
python-dotenv = "*"
marshmallow = "*"
webargs = "*"
mysql-connector-python = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-bcrypt = "*"
python-slugify = "*"
mysqlclient = "*"
pyjwt = "*"
flask-restful = "*"
gunicorn = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
safrs = "*"

[requires]
python_version = "3.9"
